html {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
}


h1 {
    background-color: #ffb200;
}

.main-header {
    margin: 8px auto;
    padding: 16px;
    text-align: center;
}

.main-list {
    padding: 16px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

.main-list a {
    background-color: #ffbe29;
    display: block;
    text-decoration: none;
    margin: 12px 32px; 
    padding: 12px;
}

h2 {
    font-family: 'Verdana', sans-serif;
    background-color: #ffdf94;
    color: #3d3d3d;
}

p {
    background-color: #fff7de;
}

a {
    color: black;
}

ul {
    font-family: 'Tahoma', sans-serif;
}

ol {
    font-family: 'Arial', sans-serif;
}

img {
    height: auto;
    width: 400px;
    border-radius: 1%;
}

ul.main-list {
    background-color: #ffebb3;
    color: grey;
}

/* descriptions */

.tomato-salad-description {
    color: red;
}

.spring-rolls-description {
    color: green;
}

.crockpot-chicken-description {
    color: orangered;
}

/* ingredients */

#tomato-salad-ingredients {
   background-color: #ffc8ba; 
}

#spring-rolls-ingredients {
    background-color: #ebffe3;
}

#crockpot-chicken-ingredients {
    background-color: #ffb663;
}

/* h2 & h3 headers */

.tomato-salad-header {
    color: white;
    background-color: #fc3232;
}

.vietnamese-rolls-header {
    color: white;
    background-color: #58db00;
}


ol.step-list {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.signature {
    background-color: #0048cf;
    color: white;
    text-align: center;
    padding: 8px;
}

.signature a {
    color: white;
}